<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Knock API</title>
    <style type="text/css">
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <ul>
        <legend>Users</legend>
        <p><a href="/users">Users</a></p>
    </ul>
    <br />
    <br />
    <br />
    <ul>
        <legend>Workforce</legend>
        <p><a href="/workers">Workers</a></p>
        <p><a href="/workproviders">Work Providers</a></p>
        <p><a href="/worktype">Nature of Works</a></p>

    </ul>
    <br />
    <br />
    <br />
    <ul>
        <legend>Warehouses</legend><p>
            <a href="/warehouse">Warehouses</a>
        </p>
    </ul>

    @*<iframe width="1000px" height="600px" src="http://agmarknet.nic.in/cmmlist_today.asp?dt=12/09/2015"></iframe>*@
</body>
</html>
