<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Knock API</title>
    <style type="text/css">
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <p><a href="/users">Users</a></p>
    <fieldset>
        <legend>Workforce</legend>
        <p><a href="/workers">Workers</a></p>
        <p><a href="/workproviders">WorkProviders</a></p>
        <p><a href="/worktype">Manage Nature of Works</a></p>
    </fieldset>
</body>
</html>
